
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 24%;
  background: linear-gradient(180deg, #0f172a 0%, #1e293b 100%);
  color: #f1f5f9;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  box-shadow: 4px 0 12px rgba(0,0,0,0.1);
}

.sidebar .sidebar-divider {
  color: #0ea5e9;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  font-size: 34px;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  color: #0ea5e9;
  font-family: "Gabriela", serif;
  font-weight: 600;
  font-style: normal;   
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li {
  margin-bottom: 28px;
  padding: 10px 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sidebar-nav li:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(4px);
}

.sidebar-nav a {
  text-decoration: none;
  color: #f1f5f9;
  display: block;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg,  #355bb2  0%, #0ea5e9   100%);
  padding: 20px 40px !important;
  box-shadow: 0 2px 8px rgba(0,1,1,0.5);
  border-left: 1px solid #0ea5e9;
  margin: 7px 10px;
  border-radius: 12px
}

.navbar-title {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}

.navbar-user {
  font-size: 28px;
  color: #ffffff;
  margin-right: 20px;
}

.navbar button {
  background: #f8ffdd;
  color: #0f172a;
  border: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(34, 25, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.navbar button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: #5b73aa8a;
  transform: skewX(-20deg);
  transition: all 0.5s ease;
}

.navbar button:hover::before {
  left: 125%;
}

.navbar button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(34, 25, 0, 0.4);
}


.outlet {
  width: 100%;
  padding: 40px;
  border-radius: 12px;
  margin: 30px 40px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.05);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    padding: 20px 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar-title {
    margin-bottom: 10px;
  }

  .outlet {
    margin: 20px;
    padding: 20px;
  }
}
