.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: 100%;
    height: 115vh;
    background: linear-gradient(90deg,#ffffff,#b7dff1);
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);

}

.cards .product-cards {
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  height: 540px;
  width: 400px;
  margin: 120px 20px;
  z-index: 111;
}

.cards .product-cards::before{
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(18, 85, 100, 0.427));
  transition: all 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.cards .product-cards:hover::before{
  right: -100%;
}

.cards .product-cards:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
}

.cards .product-cards img {
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin: 20px auto;
}

.cards .product-cards .card-title {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 10px;
}

.cards .product-cards .card-text h4 {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.cards .product-cards .card-text h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #16a085;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .product-cards .card-text h2 h4{
  color:gray;
  text-align: center;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
}

.cards .product-cards .btn-primary {
  width: 100%;
  background-color: #3498db;
  border-color: #3498db;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  z-index: 4;
}

.cards .product-cards .btn-primary:hover {
  background-color:#ffff;
  border-color: #333;
  color: #000;
  z-index: 55; 
}
