.head{
  background-color:#ffffff;
}

.cart-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
 background-color: #ffffff;  
  border: 1px solid rgba(0, 255, 181, 0.1);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.cart-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.cart-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1e3a4c;
}

.clear-btn{
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 10px;
  border: 0.5px solid white;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  left: 1000px;
  background: rgba(195, 195, 195, 0.281);
  color: #df111e;
}

.clear-btn:hover {
  background:white;
  border: 1px solid black;
  color: #000;
}


.checkout-footer{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin-top: 30px;
  gap: 10px;

}
.checkout-footer .total-amount {
  font-size: 1.6rem;
  font-weight: 600;
  color: green;
}
.checkout-footer .checkout-hr{
  width: 100%;              
  max-width: 200px;         
  border: none;
  height: 2px;
  background: gray;
  margin: 10px 0;
  align-self: flex-end;    
  border-radius: 4px;
}
.checkout-footer .checkout-btn {
  padding: 10px 25px;
  font-size: 19px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  background: #09b1ec;
  color: whitesmoke;
  transition: background 0.3s ease;
}

.checkout-footer .checkout-btn:hover {
  background: rgba(0, 255, 204, 0.2);
  border: 1px solid black;
  color: #000; 
}

.cart-table {
  border-radius: 12px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 255, 181, 0.1);
  color: #e0f7f4;
}

.cart-table th,
.cart-table td {
  vertical-align: middle;
  text-align: center;
  color: #e0f7f4;
  background-color: transparent;
}

.cart-table th {
  color: #78eecf;
  font-weight: 600;
}

.cart-table img {
  border-radius: 10px;
  object-fit: cover;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-icon {
  cursor: pointer;
  font-size: 2.5rem;
  margin: 0 8px;
  transition: transform 0.2s;
  color: #1e3a4c;
  padding: 5px;
  border-radius: 50%;
}

.quantity-icon:hover {
  transform: scale(1.2);
}

.delete-icon {
  color: #ff6b6b;
  cursor: pointer;
  transition: transform 0.2s;
}

.delete-icon:hover {
  transform: rotate(15deg) scale(1.2);
}

.empty-cart {
    text-align: center;
    padding: 40px;
    font-size: 42px;
    color: #888;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

