.vcontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-container{
  background: linear-gradient(90deg,#ffffff,#b7dff1);
}

.hero-modern {
  height: 100vh;
  padding-top: 20px;
  background: linear-gradient(90deg,#ffffff,#b7dff1);
  background-color: whitesmoke;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 2rem; */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.hero-content {
  max-width: 1000px;
  z-index: 2;
}

.hero-content h1 {
  font-size: 4rem;
  color: #88293d;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #272838;
}

.cta {
  padding: 0.8rem 1.5rem;
  background-color: #88293d;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta:hover {
  background-color: #00ddb3;
}



.product-slider {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(to right, transparent, palevioletred 2%, skyblue 98%, transparent);

}

.product-track {
  display: flex;
  width: max-content;
  height: 300px;
  animation: scroll 60s linear infinite;
}


.product-card {
  width: 22rem;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  margin: 30px;
  position: relative;
}

.product-card:hover {
  transform: scale(1.015);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}


.product-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  /* transform: scale(1.2); */
  transition: transform 0.6s ease-in-out;
}

.product-card:hover img {
  transform: scale(1);
}


/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  } 
  100% {
    transform: translateX(-100%);
  }

}



.buttons{
  display: flex;
  flex-wrap: nowrap;
}

.secondary-page {
  height: 100vh;
  background: url('../media/heroimage.png');
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 2rem; */
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}
.main-title{
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  font-weight: bold;
  background: url('https://img.freepik.com/photos-premium/fond-ecran-texture-coloree-rouge-bleu-fond-abstrait_611557-567.jpg') no-repeat center/cover; 
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.delivery-head{
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  font-weight: bold;
  color:#272838;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.delivery-sub{
  text-align: center;
  font-size: 38px;
  margin-bottom: 60px;
  font-weight: bold;
  color:#272838;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}