.login-container{
    width: 70%;
    height: 80vh;
    background-color:#ffff;
    margin-left:auto ;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.login-modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1001;
  }

  
  .login-modal .modal-content {
    height: auto !important;
    padding: 30px;
  }

  .login-modal .modal-dialog {
  max-width: 80% !important;
  width: 80% !important;
  margin: auto;
}

.login-modal .modal-content {
  width: 100%;
  max-width: 100%;
}

  

.form-image img{
    width: 400px;
    height: 400px;
}

.form-side{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-side h2{
    margin-bottom: 30px;
}


.login-head {
    color: #2b2d42;
    font-size: 40px;
}

.login-form {
    width: 70%;
    background-color: #ffff;
    margin-bottom: 0px;
}

.login-form .form-label {
    font-weight: bold;
    color: #222;
}

.login-form .form-control {
    font-size: 18px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-form .form-control:focus {
    border-color: #2b2d42;
    box-shadow: 0 0 5px rgba(43, 45, 66, 0.5);
}

.login-form button {
    background-color: #2b2d42;
    border: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.login-form button:hover {
    background-color: #4a4e69;
}

.login-form .location-btn{
    background-color: white;
    color: #000;
    border: 1px solid white;
    transition: background 0.3s;
    padding: 0;
}


.form-select{
    margin-bottom: 10px;
}

.login-form h4{
    font-size: 17px;
    margin-top: 2px;
    font-weight: 600;
    color: #2b2d42;
}

@media screen and (max-width: 768px) {
    .login-container{
        width: 100%;
        max-height: fit-content;
        background-color:#ffff;
        margin-left:auto ;
        margin-right: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
    }
    
    .form-image img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 426px) {
    .login-container{
        width: 100%;
        max-height: fit-content;
        background-color:#ffff;
        margin-left:auto ;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border-radius: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
    }
    
    .form-image img{
        height: 150px;
    }

    .login-head {
        color: #2b2d42;
        font-size: 30px;
        margin-bottom: 0;
    }
    .form-side h2{
        margin-bottom: 0 !important;
    }
    
    .login-form input{
        width: 100%;
        margin-bottom: 1px;
    }
    
    .login-head {
        color: #2b2d42;
        font-size: 40px;
    }
    
    .login-form {
        width: 70%;
        background-color: #ffff;
        margin-bottom: 0px;
    }
    
    .login-form .form-label {
        font-weight: bold;
        color: #222;
    }
    
    .login-form .form-control {
        font-size: 18px;
        margin-bottom: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    
    .login-form .form-control:focus {
        border-color: #2b2d42;
        box-shadow: 0 0 5px rgba(43, 45, 66, 0.5);
    }
    
    .login-form button {
        background-color: #2b2d42;
        border: none;
        font-size: 15px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        padding: 4px 10px;
        margin-top: 2px;
        width: 100%;
        transition: background 0.3s;
    }
    
    .login-form button:hover {
        background-color: #4a4e69;
    }
    
    .login-form .location-btn{
        background-color: white;
        color: #000;
        border: 1px solid white;
        transition: background 0.3s;
        padding: 0;
    }
    
    
    .form-select{
        margin-bottom: 10px;
    }
    
    .login-form h4{
        font-size: 17px;
        margin-top: 2px;
        font-weight: 600;
        color: #2b2d42;
    }

    .register{
        margin-top: 5px;
        font-size: 16px !important;
    }
}