.order-container{
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  
}

.page-title {
    text-align: center;
    color: #0d6efd;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .order-detail-container {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto 60px;
    padding: 0 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  .order-info-section {
    flex: 2;
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .button-area {
    display: flex;
    justify-content: center;
  }
  .continue-shopping {
    position: relative;
    margin-top: 20px;
    background: linear-gradient(90deg, palevioletred, #198754, #17a2b8);
    background-size: 200% 100%;
    font-size: 20px !important;
    width: 50%;
    font-weight: 600 !important;
    padding: 10px 20px !important;
    text-transform: uppercase;
    border-radius: 20px !important;
    border: none !important;
    color: white;
    cursor: pointer;
    animation: slowSlide 5s ease-in-out infinite;
    overflow: hidden;
  }
  
  .continue-shopping:hover {
    transform: scale(1.1);
    animation-duration: 2s;
    transition: all 0.2s ease-in-out;
  }
  
  @keyframes slowSlide {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  

  .info-sections {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .shipping-info,
  .payment-info {
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 12px 10px rgb(0, 0, 0, 0.1);
  }
  
  .status {
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
    text-transform: uppercase;
  }
  
  .status.shipped {
    background-color: #0dcaf0;
  }
  
  .status.paid {
    background-color: #198754;
  }
  
  .btn-contact-support {
    margin-top: 15px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
  }

  @media (max-width: 900px) {
    .order-detail-container {
      flex-direction: column;
    }
  
    .info-sections {
      flex-direction: row;
      gap: 20px;
    }
  }
   