.order-history-card {
    border-radius: 16px;
    margin-top: 80px;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  }
  

  
  .gradient-header {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-size: 25px;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    text-align: center;
    color: #ffff !important;
  }
  
  .modern-table thead {
    background-color: #eaf6ff;
    font-weight: 600;
    font-size: 20px;
  }
  
  .modern-table th{
    padding: 20px 10px !important; 
    font-weight: 700;
    font-size: 20px;
    color: #333;
  }
  
  
  
  .modern-table td {
    padding: 20px 10px !important; 
    font-weight: 500;
    font-size: 20px;
    color: #333;
  }
  
  .badge {
    font-size: 0.85rem;
    padding: 0.45em 0.75em;
    border-radius: 2rem;
    text-transform: capitalize;
  }
  

  @media screen  and (max-width: 768px) {
    .order-history-card {
      border-radius: 16px;
      margin-top:80px;
      overflow: hidden;
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    }
    
    .order-history-container{
      display: flex;
      flex-direction: column;
    }

    .home-icon{
      margin-top: 20px;
    }
  }