.top-container{
    display: flex;
    align-items: center;
}



.footer {
    background-color: #191736;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #dff6ff;
}

.main-navbar {
  background: url('https://wallpapercave.com/wp/wp1946074.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:0px -180px;
  height: 80px; 
  border-bottom: 2px solid cornflowerblue; 
  padding: 60px;
  text-align: center;
}

.main-navbar .navbar-brand {
  color: #ffcc00 !important; 
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-navbar .nav-link {
  color:cadetblue !important; 
  font-size: 1.8rem;
  font-family:cursive; 
  transition: color 0.3s ease-in-out;
  letter-spacing: 2px;
}

.main-navbar .nav-link:hover {
  color: #ff0000 !important; /* Red hover effect for main */
  text-shadow: 0 0 10px #ff0000; /* Glow effect */
}

/* Navbar Toggle Button */
.main-navbar .navbar-toggler {
  border-color: #ffcc00;
}



body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}

.reg-head {
    color: teal;
    font-size: 2rem;
    margin-bottom: 20px;
}

.reg-form {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.reg-form .form-label {
    font-weight: bold;
    color: #333;
}

.reg-form .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
}

.reg-form .form-control:focus {
    border-color: teal;
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
}

.reg-form button {
    background-color: teal;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.reg-form button:hover {
    background-color: darkcyan;
}


@media (max-width: 768px) {
    .footer {
        font-size: 0.9rem;
    }

    .footer-links {
        flex-direction: column;
        gap: 8px;
    }

     .navbar-nav {
        text-align: center;
    }
    
    .navbar-nav .nav-link {
        margin: 5px 0;
    }
    .table {
        width: 100%;
        font-size: 0.9rem;
    }
    
    .book-head {
        font-size: 1.5rem;
    }
}



